body {
  background: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.headers {
  display: flex;
  color: white;
}

.tournament-list {
  height: auto;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.tournament-list :link {
  text-decoration: none;
}

.tournament-list p {
  font-size: 1rem;
  color: rgb(163, 163, 163);
  margin-top: -1rem;
}

.single-tournament {
  border: 1px solid grey;
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 1700px;
  margin-top: 1px;
}

.single-tournament:hover {
  background-color: whitesmoke;
}

.single-tournament h1 {
  color: black;
  line-height: 2rem;
  font-size: 1.3rem;
}

#name {
  width: 30rem;
  margin-left: 2rem;
}

#game {
  width: 22rem;
}

#eventtime {
  width: 8rem;
} 

#venue {
  width: 15rem;
}

#city, #country {
  width: 20rem;
}

#name, #game, #eventtime, #venue, #city, #country {
  margin-right: 1rem;
  font-size: 1rem;
  line-break: normal;
  word-break: break-all;
}

#header-name {
  margin-left: 2rem;
  width: 26.7rem;
 
}

#header-game {
  width: 19.6rem;

}

#header-date {
  width: 8rem;

}

#header-venue {
  width: 13.4rem;

}

#header-city, #header-country {
  width: 18rem;

}

.input {
  max-width: 1510px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.input p {
  font-size: 1rem;
  color: white;
}

input {
  border: 1px solid black;
  height: 41px;
  margin-right: 1rem;
}

#input-distance {
  width: 13rem;
}

.search-btn {
  background: linear-gradient(to right bottom, rgb(27, 27, 156), rgb(92, 168, 231));
  height: 44px;
  width: 11rem;
  margin-right: 1rem;
  margin-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1rem;
  color: white;
}

.search-btn:hover {
  background-color: rgb(219, 219, 219);
}

.tournament-detail {
  color: white;
  max-width: 1000px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

#back-button {
  background: linear-gradient(to right bottom, rgb(27, 27, 156), rgb(92, 168, 231));
  height: 44px;
  width: 11rem;
  margin-right: 1rem;
  margin-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1rem;
  color: white;
}