body {
  background: url("/images/background.jpg");
  background-size: cover;
}

.headers {
  display: flex;
}

.tournament-list {
  background-color: rgb(60, 193, 233);
  height: auto;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.single-tournament {
  border: 1px solid grey;
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 1700px;
}

.single-tournament:hover {
  background-color: whitesmoke;
}

.single-tournament h1 {
  color: black;
  line-height: 2rem;
  font-size: 1.3rem;
}

#name {
  width: 35rem;
  font-size: 1rem;
  margin-left: 2rem;
}

#header-name {
  margin-left: 2rem;
  width: 30.3rem; 
}

#game {
  width: 25rem;
  font-size: 1rem;
}

#header-game {
  width: 21.5rem;
}

#eventtime, #venue, #city, #country {
  width: 15rem;
  font-size: 1rem;
}

#header-date, #header-venue, #header-city, #header-country {
  width: 13rem;
}

.input {
  max-width: 1700px;
  width: auto;
  margin-left: 110px;
  /* background-color: red; */
  margin-bottom: 3rem;
}

.input p {
  font-size: 1rem;
  color: white;
}

input {
  border: 1px solid black;
  height: 41px;
  margin-right: 1rem;

}

.search-btn {
  background-color: white;
  height: 44px;
  width: 12rem;
  margin-right: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-btn:hover {
  background-color: rgb(219, 219, 219);
}

