body {
  background: url("/images/background.jpg");
  background-size: cover;
}

.navbar {
  background: linear-gradient(to bottom, rgba(0,0,0), rgba(0,0,0, 0.9));
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  column-gap: 3%;
  height: 2rem;
}

.navbar .active {
  color: rgb(74, 172, 107);
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.4rem;
}

.navbar a:hover {
  color: rgb(74, 172, 107);
}

.routes {
  color: white;
}

.single-tournament {
  border: 1px solid white;
  border-radius: 3rem;
  /* background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3)); */
  background-color: rgb(11, 30, 66);
  height: 18rem;
  width: 22rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.1), rgba(255,255,255, 0.2));
  border-radius: 3rem;
  width: 80%;
  max-width: 100rem;
  max-height: 50rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.single-tournament h1 {
  line-height: 2rem;
  font-size: 1.3rem;
}

.single-tournament h2 {
  line-height: .5rem;
  color: teal;
  font-size: 1rem;
}

.single-tournament p {
  color: red;
  font-style: italic;
  font-size: .9rem;
}

.single-tournament h3 {
  line-height: 3px;
  color: grey;
  font-size: 1rem;
}

.single-tournament h4 {
  line-height: 3px;
  color: brown;
  font-size: 1rem;
}

.input {
  text-align: center;
  background-color: red;
}

input {
  text-align: center;
  height: 41px;
  border: none;
}

.search-btn {
  background-color: black;
  color: white;
  height: 44px;
  width: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

